:root {
     --COLOR2: #b3876c; /* LIGHT-BROWN */
    --COLOR1: #ff7b06; /* ORANGE */
    --COLOR3: #fff6eb; /* BEIGE */
    --COLOR4: #dfe0df; /* LIGHT-GREY */
    --COLOR5: #00c598; /* LIME-GREEN */
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas:
        "side head"
        "side main";
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    height: 100vh;
}

header {
    background: var(--COLOR1);
    display: grid;
    grid-area: head;
    padding: 5px;
}

.topbar {
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.search-div {
    align-items: center;
    display: flex;
    gap: 5px;
    height: 100%;
    width: 50%;
}

.search {
    height: 20px;
    width: 250px;
}

.search-icon {
    height: 24px;
}

.myProfile {
    display: flex;
    gap: 10px;
    height: 100%;
    justify-content: flex-end;
    padding-right: 10px;
    width: 30%;
}

.pp_miniature {
    align-self: center;
    border-radius: 50%;
    height: 40px;
}

.bell {
    height: 20px;
    left: 3px;
    position: relative;
    top: 5px;
}

.username,
.greeting {
    align-self: center;
    color: white;
}

.bottombar {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    gap: 5px;
}

.profile_pic_big {
    border-radius: 50%;
    height: 100px;
}

.commands {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 60%;
}

.commands ul {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
}

.commands li {
    align-items: center;
    background: url(./Icons-Images/PATINHA.svg) no-repeat;
    display: flex;
    font-size: 0.8rem;
    height: 80px;
    justify-content: center;
    list-style: none;
    width: 80px;
}

ul a {
    font-weight: bold;
    position: relative;
    top: 5px;
}

aside {
    align-content: flex-start;
    background-color: var(--COLOR3);
    display: grid;
    gap: 20px;
    grid-area: side;
    padding: 30px;
}

.option-div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.option-div:nth-child(1) {
    position: relative;
    right: 18px;
}

.option-div:nth-child(1) .sidebar-icon {
    width: 50px;
}

.option-div:nth-child(1) .sidebar-option {
    align-self: center;
}

.sidebar-icon {
    justify-self: center;
    width: 30px;
}

.sidebar-option {
    justify-self: start;
}

.option-div:nth-last-child(3) {
    margin-top: 40px;
}

main {
    background-color: var(--COLOR4);
    display: flex;
    gap: 30px;
    padding: 20px;
}

.projects-sec {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.projects-div {
    display: grid;
    gap: 20px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    height: 100%;
}

.projects-div div {
    background-color: var(--COLOR3);
    border-left: 15px solid var(--COLOR5);
    border-radius: 5px;
    font-size: max(0.95vw, 0.8rem);
    padding: 20px;
}

.right-side-section {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}

.announcements {
    background-color: var(--COLOR5);
    border-radius: 15px;
    grid-area: announce;
    padding: 10px;
}

.announcements div {
    padding: 20px;
}

.announcements h1 {
    font-size: 1rem;
}

.announcements p {
    font-size: 13px;
}

.trending {
    background-color: var(--COLOR5);
    border-radius: 15px;
    display: grid;
    gap: 20px;
    grid-area: trend;
    grid-template-columns: 1fr 5fr;
    padding: 20px;
}

.trending p {
    color: black;
}

.trending img {
    aspect-ratio: 1;
    border-radius: 50%;
    width: 50px;
}

@media only screen and (max-width:1440px) {
    .projects-div {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media only screen and (max-width:1250px) {
    .projects-div {
        grid-template-columns: minmax(300px, 1fr);
    }
}