:root {
    overflow-x: hidden;
    --ORANGE: #ff7b06;
    --LIGHT-BROWN: #b3876c;
    --BEIGE: #fff6eb;
    --LIGHT-GREY: #dfe0df;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        /* general page layout */
        "side head"
        "side main";
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    height: 100vh;
}

header {
    background: var(--ORANGE);
    grid-area: head;
    display: grid;
}

.topbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.search-div {
    width: 50%;
    display: flex;
    gap: 5px;
    height: 100%;
    align-items: center;
}

.search {
    height: 20px;
    width: 250px;
}

.search-icon {
    height: 24px;
}

.myProfile {
    display: flex;
    gap: 10px;
    width: 30%;
    height: 100%;
    justify-content: flex-end;
    padding-right: 10px;
}

.pp_miniature {
    height: 40px;
    border-radius: 50%;
    align-self: center;
}

.bell {
    height: 20px;
    position: relative;
    top: 5px;
    left: 3px;
}

.username,
.greeting {
    color: white;
    align-self: center;
}

.bottombar {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    gap: 5px;

}

.profile_pic_big {
    height: 100px;
    border-radius: 50%;
}

.commands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 60%;
}

.commands ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.commands li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: url(./Icons-Images/PATINHA.svg) no-repeat;
    width: 80px;
    height: 80px;
    font-size: 0.8rem;
}

ul a {
    position: relative;
    top: 5px;
    font-weight: bold;
}

aside {
    background-color: var(--BEIGE);
    grid-area: side;
    display: grid;
    align-content: flex-start;
    gap: 20px;
    padding: 30px;
}

.option-div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.option-div:nth-child(1){
    position: relative;
    right: 18px;
}

.option-div:nth-child(1) .sidebar-icon {
    width: 50px;
}

.option-div:nth-child(1) .sidebar-option {
    align-self: center;
}

.sidebar-icon {
    width: 30px;
    justify-self: center;
}

.sidebar-option {
    justify-self: start;
}

.option-div:nth-last-child(3) {
    margin-top: 40px;
}

main {
    display: grid;
    background-color: var(--LIGHT-GREY);
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    grid-template-areas:
        "project announce"
        "project trend"
    ;
    padding: 20px;
}

.projects-sec {
    grid-area: project;
    display: flex;
    flex-direction: column;
}

.projects-div {
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-auto-rows: min-content;
    gap: 20px;
}

.projects-div div {
    background-color: var(--ORANGE);
    border-left: 15px solid greenyellow;
    border-radius: 5px;
    padding: 20px;
    font-size: max(0.95vw, 0.8rem);
}

.announcements {
    grid-area: announce;
    background-color: var(--BEIGE);
    padding: 40px;
    border-radius: 15px;
}

.announcements div {
    padding: 20px;
}

.announcements h1 {
    font-size: 1rem;
}

.announcements p {
    font-size: 13px;
}

.trending {
    grid-area: trend;
    background-color: var(--BEIGE);
    padding: 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.trending p {
    color: black;
}

.trending img {
    aspect-ratio: 1;
    width: 50px;
    border-radius: 50%;
}

@media only screen and (max-width:1440px) {
    .projects-div {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media only screen and (max-width:1250px) {
    .projects-div {
        grid-template-columns: minmax(300px, 1fr);
    }
}